@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 style="margin-left:-17.2rem; margin-top:.5rem;">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6" style="margin-left:-17.2rem; margin-top:1rem;">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit" style="background-color: #30651e; text-decoration-color: white; border: 1px solid #111;">Download</button>
        </form><br>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
