@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<body id="registerpagebody">
<div class="row centered" id="Registerform" style="position:center; margin-top:1.1rem;  ">
    <div class="col-md-4">
        <section>
            <div class="row d-flex justify-content-center col-12">
                <div class="col-4 border border-primary rounded m-20" style="height:36rem; background-color:white">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="d-flex justify-content-center">
                            <i class="icon-map-marker icon-4x text-success" style="margin-top:1rem;"></i>
                        </div>
                        <h2 class="h3 mb-3 font-weight-normal" style="margin-left:5.5rem;">Join UPang Flipside today</h2>
                        <hr /><br>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span><br>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success btn-block">Register</button>
                        <p style="margin-top:.3rem; margin-left:3.2rem; font-size:small; font-weight:lighter; font-weight:495;">By signing up, you agree to the Privacy Policy, including Cookie Use.</p>

                    </form>
                </div>
             </div>
        </section>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
